doctype html
html(lang='en')
	head
		title Pratik Borsadiya
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name="description", content="Software Engineer")
		meta(name='google-site-verification', content='DzGF1wORJHztgVQ9T_p88R5LuxQwf4_dr2c02Cfz_ug')

		//- CSS
		link(rel='stylesheet', href='css/home.css')

	body

		include includes/_icons.pug

		main.home
			.home__info
				img.home__info-profile(src='img/pratik-borsadiya.jpg', alt="Pratik Borsadiya's Profile")
				h1.home__info-greet Hello, I'm Pratik Borsadiya.
				p.home__info-designation AI Engineering @
					a(href='https://www.accenture.com/us-en/insights/artificial-intelligence-summary-index', target='_blank', rel="noopener") Accenture Applied Intelligence
				.social
					a.social__link(
						aria-label="Pratik Borsadiya on GitHub"
						href='https://github.com/pratikborsadiya',
						target='_blank'
						rel="noopener")
						svg.social__link-icon: use(xlink:href='#icon-github')
					a.social__link(
						aria-label="Pratik Borsadiya on Linkedin"
						href='https://www.linkedin.com/in/pratikborsadiya',
						target='_blank'
						rel="noopener")
						svg.social__link-icon: use(xlink:href='#icon-linkedin')
					a.social__link(
						aria-label="Pratik Borsadiya on Twitter",
						href='https://twitter.com/pratikborsadiya',
						target='_blank'
						rel="noopener")
						svg.social__link-icon: use(xlink:href='#icon-twitter')

			.home__main
				nav.site__nav
					ul
						li: a.site__nav-item(href='#about-me', data-toggle='about-section') About Me
						li: a.site__nav-item(href='#blog', data-toggle='article-section') Blog

				//- About Section
				.home__about
					p Hey there,
					p I'm Pratik, and I'm from Jamnagar, Gujarat, India. I work at #[a(href='https://www.accenture.com/us-en/insights/artificial-intelligence-summary-index', target='_blank' rel="noopener") Accenture Applied Intelligence] as an AI Engineering Associate Manager. For almost the past eight years, I've been diving into my passion and profession: creating beautiful and usable products with web technologies. Computers have intrigued me ever since I first saw one. This fascination led me to my current job, and it's one of the reasons why I love exploring all things computer-related – from coding and software to hardware and networking.

					p Outside of my professional commitments, I dedicate my time to contributing to open-source projects. On occasion, you might just catch me wandering around #[a(href='http://farcry.wikia.com/wiki/Rook_Islands', target='_blank' rel="noopener") Rook Islands], #[a(href='http://farcry.wikia.com/wiki/Kyrat', target='_blank' rel="noopener") Kyrat], or #[a(href='http://ageofempires.wikia.com/wiki/Great_Plains', target='_blank' rel="noopener") Great Plains] – yep, I'm a bit of a gamer.

					h5.information__title
						span Skills
						svg.information__icon: use(xlink:href='#icon-skills')

					p
						b Client Side:&nbsp;
						| HTML, CSS, Javascript, SASS, ReactJS, PugJs, Bootstrap, SEO

					p
						b Server Side:&nbsp;
						| NodeJs, Nginx, Linux Server Administration, Amazon AWS, Google Cloud Platform

					p
						b Developer Tools:&nbsp;
						| Git, Grunt, Gulp, Webpack, NPM, Docker, K8S

					h5.information__title 
						span Work Experience
						svg.information__icon: use(xlink:href='#icon-experience')

					.work-experience
						p.work-experience__company #[b: a(href='https://www.accenture.com/us-en/insights/artificial-intelligence-summary-index', target="_blank" rel="noopener") Accenture - AI Engineering Associate Manager] - From September 2020 to present
						p.work-experience__info I am an AI Engineering Associate Manager at the company. My responsibilities includes:
						ul.work-experience__role
							li Lead the development of an in-house data analytics platform which helps businesses explore their data on a single platform and get meaningful insights out of the data using various data exploration apps.

					.work-experience
						p.work-experience__company #[b: a(href='https://newsroom.accenture.com/news/accenture-acquires-byte-prophecy-to-enhance-ai-and-digital-analytics-capabilities-in-emerging-markets.htm', target="_blank" rel="noopener") ByteProphecy - Senior Full-Stack Developer] - From October 2018 to September 2020
						p.work-experience__info I was a Senior Full-Stack Developer at the company. My responsibilities included:
						ul.work-experience__role
							li Develop data driven dashboards and visualizations using React.JS, D3.JS and Node.JS
							li Lead development of the data analytics product which caters all kinds of data analytics use cases across multiple industries.

					.work-experience
						p.work-experience__company #[b Gridle - Senior Front-end Developer] - From July 2017 to September 2018
						p.work-experience__info I was a Senior front-end developer in IT services section of the company. My responsibilities included:
						ul.work-experience__role
							li Develop modern web-applications to solve the problems of our clients using Angular.js, React/Redux, Node.js JavaScript, HTML5 and CSS3.
							li Architect frontend of the projects being implemented by the company with focus on maintainability and performance in mind.
							li Standardizing front-end programming practices and having them implemented so that the projects are more maintainable and easy to explain to the newer project members.
							li Helping and mentoring junior members of the frontend team by reviewing and advising them for possible improvements in the code they have written.

					.work-experience
						p.work-experience__company #[b: a(href="https://gridle.io", target="_blank" rel="noopener") Gridle - Frontend Developer] - From July 2015 to June 2017
						p.work-experience__info I was responsible for frontend development of the product Gridle.io. My responsibilities included:
						ul.work-experience__role
							li Working closely with design team and creating interfaces based on visual design and user feedback.
							li Standardizing front-end code style to facilitate the on-boarding of new team members and making the product easy to manage and update.
							li Working with other team members across various disciplines to improve product experience.

					h5.information__title
						span Education
						svg.information__icon: use(xlink:href='#icon-education')

					p: b Diploma in Computer Engineering – 2012 - 2015
					p Government Polytechnic College - Ahmedabad
					p Gujarat Technological University

					h5.information__title
						span Projects
						svg.information__icon: use(xlink:href='#icon-projects')

					.project
						p.project__title: b: a(href="https://gridle.io", target="_blank", rel="noopener") Gridle
						p.project__description Gridle is a cloud based collaboration tool for teams to communicate effectively.
						p.project__tags
							b Technologies used:&nbsp;
							span HTML, CSS, Javascript, SASS, PugJs, AngularJs, Grunt

					.project
						p.project__title: b: a(href="https://github.com/pratikborsadiya/vali-admin", target="_blank", rel="noopener") Vali admin
						p.project__description A free, modular and easy to customize dashboard theme built using Bootstrap, SASS and Pug JS.
						p.project__tags
							b Technologies used:&nbsp;
							span HTML, CSS, Javascript, SASS, PugJs, Grunt, Bootstrap

				//- Blog Section
				.home__blog
					a.article(role="article", href="https://medium.com/@pratikborsadiya/appriciate-the-good-deeds-639616491ef6", target="_blank", rel="noopener")
						p.article__date 17 December, 2016
						h3.article__title Appreciate the good while you disparage the bad
						p.article__description If you scold a person to make sure that he won’t do the same mistake again, also appreciate him for his good deeds to make sure that it will happen again and again.

					a.article(role="article", href='/vali-admin/')
						p.article__date 16 December, 2016
						h3.article__title Open Source Project : Vali Admin
						p.article__description A free, modular and easy to customize dashboard theme built using Bootstrap, SASS and Pug JS.

					a.article(role="article", href='/blog/getting-started-with-jade/')
						p.article__date 15 July, 2016
						h3.article__title Be awesome with jade
						p.article__description Jade is an awesome templating engine built on top of Node js. It allows you to rapidly build HTML templates that are modular, easy to code and maintain.

		script(type='text/javascript').
			if(location.hostname == 'pratikborsadiya.in') {
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
				ga('create', 'UA-72504830-1', 'auto');
				ga('send', 'pageview');
			}

		script(type='text/javascript').
			const sections = [
				document.querySelector('.home__about'),
				document.querySelector('.home__blog')
			]

			const navItems = [
				document.querySelector('[data-toggle="about-section"]'),
				document.querySelector('[data-toggle="article-section"]')
			]
	
			//- Function to navigate to a section
			function navigateTo(section, navItem) {
				sections.forEach(item => item.classList.remove('is-visible'));
				navItems.forEach(item => item.classList.remove('active'));

				section.classList.add('is-visible');
				navItem.classList.add('active');
			}
			
			//- Enable navigation on tab title click
			navItems.forEach((d, i) => {
				d.addEventListener('click', function() {
					navigateTo(sections[i], navItems[i]);
				});
			});

			//- On initial load render appropreate section
			if (location.hash == "#blog") navigateTo(sections[1], navItems[1]);
			else navigateTo(sections[0], navItems[0]);
